<section>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark font-weight-bold">Shows List</li>
        <li class="list-group-item">
            <form [formGroup] = "form_shows">
              <div class="form-group">
                  <label for="show id">id:</label>
                  <input matInput type="number" class="form-control" id="id" formControlName="number" disabled>
              </div>
              <div class="form-group">
                <label for="show name">Show Name:</label>
                <input matInput type="text" class="form-control" id="name" formControlName="name" requered>
              </div>
              <div class="form-group">
                <label for="desc">Show Description:</label>
                <textarea matInput class="form-control" rows="2" id="description" formControlName="description" requered></textarea>
              </div>
              <div class="form-group">
                  <label for="show date">Show Date:</label>
                  <input matInput type="date" class="form-control" id="date" formControlName="date" requered>
              </div>
              <div class="form-group">
                  <label for="show number">Number of Armchairs:</label>
                  <input matInput type="number" class="form-control" id="armchairs_qtd" formControlName="armchairs_qtd" requered>
              </div>
              <div class="form-group">
              <label for="status">Status:</label>
              <select matInput class="form-control" id="status" name="status" formControlName="status">
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
              </select>
              </div>
              <div class="form-group">
                  <label for="show cost">Cost of Armchairs:</label>
                  <input matInput type="number" class="form-control" id="cost" placeholder="R$ 0.00" formControlName="cost">
              </div>
              <div class="form-group justify-content-center">
                  <ul class="pagination pagination-sm justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </div>
            </form>
        </li>
        <li class="list-group-item list-group-item-dark font-weight-bold">
            <button type="submit" class="btn btn-secondary">Post</button>
        </li>
      </ul>
</section>
