<section>

    <ul class="list-group">
        <li class="list-group-item list-group-item-dark font-weight-bold">Armchairs List</li>
        <li *ngFor="let i of armchair_list" class="list-group-item">

            <form>
              <div class="form-group">
                  <label for="show cod_number">Number:</label>
                  <input type="number" class="form-control" id="cod_number" disabled>
              </div>
              <div class="form-group">
                  <label for="show id">id:</label>
                  <input type="number" class="form-control" id="id" disabled>
              </div>
              <div class="form-group">
                <label for="show name">Show Name:</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="desc">Show Description:</label>
                <textarea class="form-control" rows="2" id="description"></textarea>
              </div>
              <div class="form-group">
                  <label for="show date">Show Date:</label>
                  <input type="date" class="form-control" id="date">
              </div>
              <div class="form-group">
                  <label for="show number">Number of Armchairs:</label>
                  <input type="number" class="form-control" id="number">
              </div>
              <div class="form-group">
              <label for="status">Status:</label>
              <select class="form-control" id="status" name="status">
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
              </select>
              </div>
              <div class="form-group">
                <label for="show cost">Cost of Armchairs:</label>
                <input type="number" class="form-control" id="cost" placeholder="R$ 0.00">
              </div>
              <div class="form-group">
                  <label for="show reservation">Reservation Name:</label>
                  <input type="text" class="form-control" id="reservation">
              </div>
              <div class="form-group">
                <label for="status">Status Armchairs:</label>
                <select class="form-control" id="status" name="status">
                    <option value="active">Available</option>
                    <option value="inactive">Unavailable</option>
                </select>
              </div>
            </form>
        </li>
        <div class="form-group justify-content-center">
          <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Prev.</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </ul>

  </section>
