.style-show {
  font-weight: bold;
}

ul {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-top: 2%;
}

.style-buttons {
  margin-left: 10%;
  margin-top: 5%;
}

#id {
  width: 100px;
}

#cod_number {
  width: 100px;
}
